{% extends 'base.html.twig' %}

{% block title %}BookHub - Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur BookHub</h1>
    <p>Découvrez notre catalogue de livres et d'auteurs.</p>

    <a href="{{ path('app_book_index') }}">Voir tous les livres</a>
    <a href="{{ path('app_author_index') }}">Voir tous les auteurs</a>
{% endblock %}
