{% extends 'base.html.twig' %}

{% block title %}BookHub - Accueil{% endblock %}

{% block body %}
    <h1>Bienvenue sur BookHub</h1>
    <p>Découvrez notre catalogue de livres et d'auteurs.</p>
{% endblock %}
