{% extends 'base.html.twig' %}

{% block title %}BookHub - Accueil{% endblock %}

{% block body %}
<section class="max-w-5xl bg-gray-800 text-white mx-auto p-4 mt-6">
    <div class="flex justify-center mb-4"><h1 class="bold text-4xl">Bienvenue sur BookHub</h1></div>
    <div class="flex justify-center"><p>Découvrez notre catalogue de livres et d'auteurs.</p></div>
</section>
{% endblock %}
